@model PIISTECHLTD.Application.ViewModel.ShipmentVm

@{
    ViewData["Title"] = "Shipment Create";
}

<br />
<br />

<div class="row mt-5">
    <div class="col-8 mx-auto">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">@ViewBag.Title</h4>
            </div>
            <div class="card-body">
                <form asp-controller="Shipment" asp-action="CreateOrEdit" method="post">
                    <div class="form-group row mt-2">
                        <label asp-for=ConsignmentNumber class="col-form-label col-md-2"></label>
                        <div class="col-md-7">
                            <input type="text" asp-for="ConsignmentNumber" class="form-control">
                        </div>
                    </div>

                    <div class="form-group row mt-2">
                        <label asp-for=ShipperId class="col-form-label col-md-2"></label>
                        <div class="col-md-7">
                            @* <input type="text" asp-for="ConsignmentNumber" class="form-control"> *@
                            <select class="form-control" asp-for="ShipperId" asp-items="@ViewBag.ShipperId">
                                <option>--Select Shipper Name--</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row mt-2">
                        <label asp-for=ReceiverId class="col-form-label col-md-2"></label>
                        <div class="col-md-7">
                            @* <input type="text" asp-for="ConsignmentNumber" class="form-control"> *@
                            <select class="form-control" asp-for="ReceiverId" asp-items="@ViewBag.ReceiverId">
                                <option>--Select Receiver Name--</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row mt-2">
                        <label asp-for=ShipmentDate class="col-form-label col-md-2"></label>
                        <div class="col-md-7">
                            <input type="date" value="@DateTime.Now"  asp-for="ShipmentDate" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row mt-2">
                        <label asp-for=ShipmentCost class="col-form-label col-md-2"></label>
                        <div class="col-md-7">
                            <input type="text" asp-for="ShipmentCost" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row mt-2">
                        <label asp-for=StatusId class="col-form-label col-md-2"></label>
                        <div class="col-md-7">
                            @* <input type="text" asp-for="ConsignmentNumber" class="form-control"> *@
                            <select class="form-control" asp-for="StatusId" asp-items="@ViewBag.StatusId">
                                <option>--Select Status Name--</option>
                            </select>
                        </div>
                    </div>
                   
                    <div class="input-group-append mt-4 justify-content-end">
                        <input type="submit" value="Save" class="btn btn-primary text-center mr-2" />
                        <a class="btn btn-danger text-center" asp-action="Index" asp-controller="Shipment">Back to List</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}