@model IEnumerable<PIISTECHLTD.Application.ViewModel.ShipmentVm>

@{
    ViewData["Title"] = "Index";
    int idno = 1;
}
<div class="row mt-5">
    <div class="col-md-12 d-flex">
        <div class="card card-table flex-fill">
            <div class="card-header">
                <div class="float-left">
                    <input type="text" id="shipmentSearch" class="form-control col-6" placeholder="Search...">
                </div>
                <h4 class="card-title float-left mt-2 ml-3">Shipment List</h4>
                <a asp-action="CreateOrEdit" asp-controller="Shipment" class="btn btn-primary float-right veiwbutton">
                    <i class="fa fa-plus" aria-hidden="true"></i> Create Receiver
                </a>
                <button id="searchButton" class="btn btn-primary float-right mr-2">Search</button>
            </div>

            <div class="card-body m-4">
                <div class="table-responsive">
                    <table class="table table-hover table-center" id="shipmentTable">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ConsignmentNumber)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Shipper.ShipperName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Receiver.ReceiverName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ShipmentDate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ShipmentCost)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Status.Name)
                                </th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @idno
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ConsignmentNumber)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Shipper.ShipperName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Receiver.ReceiverName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ShipmentDate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ShipmentCost)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Status.Name)
                                        </td>
                                        <td>
                                            <a class=" btn btn-info" asp-action="CreateOrEdit" asp-controller="Shipment" asp-route-id="@item.Id">
                                                <i class="fas fa-edit" aria-hidden="true"></i> Edit
                                            </a> |
                                            <a class="delete-button btn btn-danger" asp-action="Delete" asp-controller="Shipment" asp-route-id="@item.Id" onclick="return confirm('Are you sure you want to delete this item?');">
                                                <i class="fa fa-trash" aria-hidden="true"></i> Delete
                                            </a>
                                        </td>
                                    </tr>
                                    idno += 1;
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {
            $('#shipmentTable').DataTable();
        });

        // Add click event for the search button
        $('#searchButton').on('click', function () {
            var consignmentNumberValue = $('#shipmentSearch').val();
            $('#shipmentTable').DataTable().column(1).search(consignmentNumberValue).draw();
        });
    </script>
}
